/* S_1 */
div.box{}
/* S_2 */
div.box:first-child{}
/* S_3 */
ul li{color: yellow}
/* S_4 */
ul li:last-child{background-color: aqua;}
/* S_5 */
body>p{color: blue}
/* S_6 */
a[href^="http"]{color: red}
/* S_7 */
a[href$=".com"]{background-color: aquamarine;}
/* S_8 */
a[href*="exemple"]{text-decoration:underline;}
/* S_9 */
table  td{color: red}
/* S_10 */
table tr:first-child td{background-color: blue}
/* S_11 */
th + td{text-align: underline;}
/* S_12 */
td + th{text-decoration: solid;}
/* S_13 */
#container > div{}
/* S_14 */
#container > div.box{}
/* S_15 */
#container > div.box:not(:first-child){}
/* S_16 */
#container > div.box:not(:nth-child(-n+2)){}
/* S_17 */
#container > div.box:not(:nth-child(-n+3)){}
/* S_18 */
#container > div.box:not(:nth-child(-n+4)){}
/* S_19 */
#container > div.box:not(:nth-child(-n+5)){}
/* S_20 */
#container > div.box:not(:nth-child(-n+6)){}
/* S_21 */
#container > div.box:not(:nth-child(-n+7)){}
/* S_22 */
#container > div.box:not(:nth-child(-n+8)){}
/* S_23 */
#container > div.box:not(:nth-child(-n+9)){}
/* S_24 */
#container > div.box:not(:nth-child(-n+10)){}
/* S_25 */
#container > div.box:not(:nth-last-child(-n+5)){color: red}
/* S_26 */
#container > div.box:not(:nth-last-child(-n+4)){background-color: blue;}
/* S_27 */
#container > div.box:not(:nth-last-child(-n+3)){text-decoration: underline;}
/* S_28 */
#container > div.box:not(:nth-last-child(-n+2)){}
/* S_29 */
#container > div.box:not(:last-child){}
/* S_30 */
#container > div.box:not(:nth-last-child(-n+2), :first-child){text-decoration: line-through;}